<div class="bisi-container">

    <div class="content">
        <div class="intro">
            <h1>biSí</h1>
            <h2>Entrena desde tu casa</h2>
            <p>La motivación que necesitas con clases en vivo y on demand</p>
        </div>
    </div>
    
    <div class="image">
        <img src="assets/images/bisi-alt-1.png" alt="">
    </div>

    <div class="bg-diagonal one">
        <div class="content">
            <h3>Capaz de llevarte a diferentes estudios en un mismo lugar.</h3>
            <h3>Pantalla de 27' táctil que gira 180 grados.</h3>
            <h3>La biSí es el camino a todos los estudios.</h3>
            <button>Pide tu biSí</button>
        </div>
    </div>

    <div class="image">
        <img src="assets/images/bisi-side-view.png" alt="">
    </div>

    <div class="bg-diagonal two">
        <div class="content">
          <h3>Resistencia magnética.</h3>
          <h3>Pedales duales</h3>
          <h3>Bluetooth, Sweat-proof</h3>
          <h3>+ 30 días gratis de suscripción Síclo+ al activar la biSí.</h3>
          <button>Pide tu biSí</button>
        </div>
    </div>

    <div class="bottom">
        <div class="img-bottom">
            <img src="assets/images/bisi-alt-2.png" alt="">
        </div>
        <div class="img-bottom">
            <img src="assets/images/bisi-alt-3.png" alt="">
        </div>
        <div class="img-bottom">
            <img src="assets/images/bisi-monitor.png" alt="">
        </div>
    </div>

</div>