<nav class="navbar">
    <ul>
        <li>
            <a href="#" id="logo">
                <img src="assets/images/siclo-logo.svg" alt="">
            </a>
        </li>
    </ul>
    <ul>
        <li><a [routerLink]="['/']" routerLinkActive="router-link-active" >biSí</a></li>
        <li><a [routerLink]="['/instructors']" routerLinkActive="router-link-active" >Instructores</a></li>
        <li><a href=#>Accesorios</a></li>
        <li><a href=#>FAQ</a></li>
        <li><a href=#>Blog</a></li>
        <a href="#" id="menu-icon"></a>
    </ul>
</nav>
