<div class="container">
    <div class="intro">
        <h1>Instructores</h1>
    </div>

    <div class="cards">
        <div class="card" *ngFor="let instructor of instructors">
            <div class="member">
                <img [src]="instructor.face_photo" class="image">
                <h3 class="name">{{instructor.nombre}}</h3>
                <p class="description">{{instructor.interests?.philosophy}}</p>
                <button class="action-btn">Ver perfil</button>
            </div>
        </div>
    </div>

    <div class="controls" *ngIf="links">
        <button class="action-btn" [disabled]="links && links.previous == null" (click)="movePage(links, 'previous')">Anterior</button>
        <button class="action-btn" [disabled]="links && links.next == null" (click)="movePage(links, 'next')">Siguiente</button>
    </div>
</div>
